{% extends "base.html" %} {% block content %}

<h1>MTG Crack-a-Pack Simulator</h1>

<body>
  <div align="center">
      <p>Simple crack-a-pack simulator for us peasants who can't afford cardboard crack.</p>
  </div>

  <div align="center">
    <label>Select a Set: </label>
    <select name="set" method="GET" action="/">
      {% for set in sets %}
          <option value="{{set}}" selected>{{set}}</option>
          
      {% endfor %}
    </select>
    <div>
      <form method='POST' action="">
        <a class="btn btn-primary" id="generate-pack" href="{{ url_for('generate_pack') }}">Generate</a>
      </form>
      
      <!-- <a class="btn btn-primary" id="generate-pack" onclick="generate-pack">Generate</a> -->
    </div>
  </div>

  
  <div align="center" id="cardpool">
  

  </div>

</body>

{% endblock content %}
