{% extends "base.html" %} {% block content %}

<h1>MTG Crack-a-Pack Simulator</h1>

<body>
  <div align="center">
      <p>Simple crack-a-pack simulator for us peasants who can't afford cardboard crack.</p>
  </div>

  <div align="center">
    <form action='/get-set/' method="POST">
      <label>Select a Set: </label>
      <select name="set-select" onchange="select_set()">
        {% if selected_set is not defined %}
           <option value="Select a Set" selected="Select a Set">Select A Set</option>
        {% else %}
           <option value="{{selected_set}}" selected="{{ selected_set }}">{{selected_set}}</option>
        {% endif %}
		
        {% for set in sets %}
            <option value="{{set}}">{{set}}</option>
        {% endfor %}
      </select>
        <img id="set-icon" src="{{ set_icon }}" witdh="32" height="32"></img>
        <div>
		     <button id="generate-button" type="submit" class="btn btn-primary" disabled>Generate</button>
        </div>
    </form>
	
  </div>

  <script src="{{ url_for('static', filename='index.js') }} "></script>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='static/hover.css') }}">

  <div align="center" id="cardpool">
     {% for uri in image_uris %}
       {% if uri is mapping %}
	      {% set front_uri = uri["front_uri"] %}
		    {% set back_uri = uri["back_uri"] %} 
        <img id="mdfc{{loop.index}}" data-front='{{front_uri}}' data-back='{{back_uri}}' src='{{front_uri}}' onclick="flip_card('{{loop.index}}')">
        {% else %}
	       <img src='{{uri}}'>
       {% endif %}
     {% endfor %}
</body>

{% endblock content %}
