{% extends "base.html" %} {% block content %}

<h1>MTG Crack-a-Pack Simulator</h1>

<body>
  <div align="center">
      <p>Simple crack-a-pack simulator for us peasants who can't afford cardboard crack.</p>
  </div>

  <div align="center">
    <form action='/get-set/' method="POST">
      <label>Select a Set: </label>
      <select name="set-select">
        {% if selected_set is not defined %}
           <option value="Select a Set" selected="Select a Set">Select A Set</option>
        {% else %}
           <option value="{{selected_set}}" selected="{{ selected_set }}">{{selected_set}}</option>
        {% endif %}
		
        {% for set in sets %}
            <option value="{{set}}">{{set}}</option>
        {% endfor %}
      </select>
        <img src="{{ set_icon }}" witdh="32" height="32"></img>
        <div name="generate-button">
          <button type="submit" class="btn btn-primary">Generate</button>
        </div>
    </form>
	
  </div>

  <div align="center" id="cardpool">
     {% for uri in image_uris %}
         <img onClick="flip_card('{{loop.index}}')" id="mdfc{{loop.index}}" data-front='{{uri["front_uri"]}}' data-back='{{uri.get("back_uri")}}' src='{{uri["front_uri"]}}' >
     {% endfor %}
  </div>
  <script src="{{ url_for('static', filename='index.js') }} "></script>

</body>

{% endblock content %}
